@import "components/pages/Menu/Menu.scss";
@import "components/pages/Orders/Orders.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #95b9c9;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}
